
body{
    padding: none;
    margin: 0px 2px 2px 2px;
    border: 1px solid white;
    border-radius: 0.6%;
    overflow-x: hidden;
    background-color: #022c56;
    position: relative;
}



h1,h2,h3,h4,h5{
    font-family: Helvetica,sans-serif !important;
}
.tophead{
    height: 30px;
    background-color: #0b253e;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #f4bb34;
    max-width: 100%;
}
.tophead a{
    float: inline-start;
}
.homelink{
    color: white;
    font-family: Poppins;
    border: none;
    margin: 5px 0px;
    position: absolute;
    text-wrap: nowrap;
    animation: moveRight 18s linear infinite;
    transition: 0.5s ease-in-out;
}
.homelink:hover{
    cursor: pointer;
    color:#c1c1c1;
}
.headpart{
    background-color: #022c56;
    height: 140px;
    position: relative;
    width: 100%;
    border-bottom: solid #f4ba33 5px;
}


.beta{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    z-index: 25;
    border: solid 2px #f4bb34;
    background-color: #022c56;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: #000 0px 0px 20px 5px;
    animation: appear 0.5s ease-in;
}
.beta p{
    width: 90%;
    text-align: center;
    font-family: poppins;
    font-size: 18px;
}
.buttonbeta{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    color: #000;
    background-color: #f4bb34;
    border: 2px solid #03213e;
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    border-radius: 2px;
    height: 40px;
}
.buttonbeta:hover{
    cursor: pointer;
    outline: solid 2px #fff;
}


.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: solid 2px darkblue;
    list-style-type: none;
    z-index: +2;
    background-color: #022c56;
}
/* FIXED MENU */
.menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
/* FIXED MENU END */
.menu .it{
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: 2px transparent solid;
    position: relative;
    font-family: poppins;
    font-size: 15px;
    text-transform: uppercase;
}
ul.menu .it:hover {
    color: #212121;
    cursor: pointer;
    background-color:#f4bb33;
    outline: black 2px;
    border: solid #000 2px;
}

.studentslist div{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 200%;
    z-index: 10;
    background-color: #f4bb34;
    box-shadow: #000 0px 0px 5px 2px;
    display: none;
    transition: 0.2s linear;
    border: solid 1px #2e2d2d;
}

.studentslist:hover div{
    display: block;
}
.studentslist a{
    text-decoration: none;
    color: #fff;
}
.studentslist div a{
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    border: 2px solid #323232;
    text-decoration: none;
    color: #0f0f0f;
}
.studentslist a:hover{
    border-color: #fff;
    text-decoration: underline solid 1px #000;
}


.home{
    color: rgb(177, 177, 177);
    text-decoration: underline solid rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.home:hover{
    text-decoration: none;
}

.gg-home-alt{
    color: white;
  }
.logo{
    position: absolute;
    left:20px;
    top:0;
    width: auto;
    padding-bottom: 1px;
    height: inherit;
    border-radius: 10%;
    background-color: #022c56;
    transform: translate(0,-5%);
    z-index: +2;
}
.logo:hover{
    cursor: pointer;
    outline: solid rgb(220, 212, 212);
}
.spann{
    content: ' ';
    font-size: x-large;
    font-weight:bolder;
    width: 100px;
    padding: 15px 0px 20px 0px;
    border-bottom: darkblue;
}
.tiitle{
    font-family: Raleway, sans-serif;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight:bolder;
    left: 180px;
    width: 100%;
    top: 50%;
}
.search{
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    position: relative;
    z-index: +1;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    align-self: center;
    display: block;
    color: white;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.gg-search::before{
    content: "  ";
}


.searchbar{
    width: 200px;
    height: 41px;
    font-family: helvetica;
    border: none;
    padding: 10px;
    color: black;
    font-size: 16;
    margin-right: 2%;
    transition: 0.1s ease-in-out;
    background-color: #dbd5d5;
    margin-right: 0.2%;
}
.searchbar:hover{
    cursor: pointer;
    outline: solid 3px gray;
}
.searchbar:focus{
    border: solid black 2px;
    cursor: text;
    outline: solid #efb52e 2px;
}

.searchbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 42px;
    background-color: #03213e;
    padding: 5px;
    border: solid 2.5px #001;
    transition: 0.21s ease-in-out;
}
.searchbtn:hover{
    cursor: pointer;
    background-color: #efb52e;
    .gg-search{
        color:black;
    }
}

.top {
    position: fixed;
    bottom: 60px;
    right: 50px;
    text-decoration: none;
    z-index: +5;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border:#242323 solid 3px;
    background-color: #f4bb33;
    padding-left: 16px;
    padding-right: 16px;
    transition: 0.3s ease-in-out;
    rotate: -25deg;
    opacity: 50%;
}
.top:hover{
    rotate: 0deg;
    cursor: pointer;
    opacity: 100%;
    border: 3px solid #000;
}
.top a{
    margin: 20px auto 20px auto;
}
.top p{
    margin: 0px;
    font-family: poppins;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}
.fa-arrow-up{
    color: #03213e;
}

.searchnew{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px #f4bb33;
    transition: 0.5s ease-in-out;
    display: none;
}
.searchnew input{
    width: 50%;
    height: 90%;
    background-color: #dad8d8;
    border: 2px solid #000000;
    font-size: large;
    transition: 0.2s ease-in-out;
    padding: 5px;
    outline: none;
    margin-right: 2px;
}
.searchnew input:hover{
    border-color: #efb52e;
    cursor: pointer;
}
.searchnew input:focus{
    border: solid black 2px;
    cursor: text;
    outline: solid #efb52e 2px;
}
.searchnew button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 90%;
    text-align: center;
    background-color: #03213e;
    padding: 5px;
    border: solid 2.5px #001;
    transition: 0.21s ease-in-out;
}
.searchnew button:hover{
    cursor: pointer;
    background-color: #f4bb33;
    .gg-search{
        color: black;
    }
}

/* END OF STANDARD STYLESHEET CODE */
.mainnews{
    position: relative;
    background-image: url(inelec_news.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-bottom: solid 3px rgb(137, 137, 137);
}
.mainbox{
    display: flex;
    flex-direction: column;
    color: white;
    z-index: +2;
    margin: 20px;
}
.mainbox::before{
    background: linear-gradient(at bottom, black 50%, rgba(0,0,0,0,5)100%);
    position: absolute;
    top: 0;
    left: 0;
}
.mainbox p{
    font-family: sans-serif;
    font-size: 16;
    letter-spacing: 0.2px;
    font-weight: bold;
    text-shadow: 0px 1px 1px 1px black;
}
.mainbox h1{
    font-weight: bold;
    font-size: 43px;
    font-family: helvetica, sans-serif;
    text-shadow: 0px 1px 10px black;
    margin-top: 0;
}
.mainnews::before{
    content: "";
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: +1;
}

.learnmore{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: solid black 2px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(9, 41, 146);
    font-family: Helvetica, sans-serif;
    transition: all 0.15s ease-in-out;
}
.learnmore:hover{
    cursor: pointer;
    background-color: #02264a;
    font-size: 1.2em;
    color: white;
    border: solid rgb(228, 156, 3) 2px;
    text-shadow: 0px 1px -1px #000015;
}

.mainsite{
    width: 100%;
    position: relative;
    background: white;
}
.titlenews{
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}
.titlenews h1{
    color:#092992;
    text-decoration: underline #e0eb0e;
}
.latest{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.latest div{
    position: relative;
    width: 35%;
    height: fit-content;
    background-color: #ffffff;
    border: solid 3px #f4bb33;
    box-shadow: #000 0px 0px 10px 2px;
    transition: 0.2s linear;
    margin: 20px;
}
.latest div:hover{
    background-color: #858383;
    cursor: pointer;
}
.latest div:hover p{
    color: #fff;
}
.latest div img{
    width: 100%;
    height: 75%;
    border-bottom: solid 5px #f4bb34;
}

.latest p{
    font-weight: 650;
    font-size: 18;
    font-family: Poppins;
    color: #000;
    padding-left: 5px;
    text-align: center;
}
.latest p:hover{
    cursor: pointer;
}
.buttonlatest{
    height: 150px;
    width: 100%;
    background-color: #022c56;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px rgb(152, 150, 150) solid;
}
.morelatest{
    height: 60px;
    width: 160px;
    background-color: #022c56;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border: solid #fff 2px;
}
.morelatest:hover{
    cursor: pointer;
    border: solid 4px #f4bb34;
    margin: none;
    background-color: #03386d;
}

.quote{
    width: 80%;
    margin: 40px auto;
    border: solid 2px #f4bb33;
    color: #000;
    box-shadow: #000 1px 1px 9px 0px;
}
.quote div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote p{
    text-align: center;
    font-weight: bolder;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin: 10px;
}
.quote p:hover{
    cursor: default;
}
.upcoming{
    width: 100%;
    position: relative;
}
.upcoming h1{
    margin: 25px auto 50px auto;
    width: fit-content;
    color:#092992;
    text-decoration: underline #caca20;
}
.upcomingevents{
    display: block;
    background-color: white;
}

.upcomingevents a{
    text-decoration: none;
    color: #000;
}
.upcomingevents .parentevent{
    width: 50%;
    padding: 2px;
    margin: 10px auto;
    background-color: #dbd5d5;
    border: solid 2px #e3e333;
}
.eventdate{
    text-decoration: underline 1px #02264a;
    font-weight: bolds;
    font-family: poppins, sans-serif;
    font-size: 16px;
    margin: 2px 2px 2px 4px;
}
.eventdateparent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;;
}
.fa-calendar-days{
    margin: 5px 5px 5px 15px;
    transition: 0.2s ease-in-out;
}
.fa-calendar-days:hover{
    color: #052690;
}
.eventdate:hover{
    cursor: default;
}
.divevents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
    padding: 2px;
}
.fa-arrow-right-to-bracket{
    transition: 0.2s ease-out;
    margin: 10px;
    transform: scale(1.2);
    animation: rotation 1s;
    animation-fill-mode: forwards;
}
.event{
    padding: 2px;
    margin: 5px;
}
.fa-arrow-right-to-bracket:hover{
    cursor: pointer;
    color: rgb(227, 195, 10);
}
.divevents p{
    font-weight: bolder;
    font-size: 20px;
    font-family: sans-serif;
    padding: 6px;
}
.buttonevents{
    display: flex;
    justify-content: center;
}
.moreevents{
    width: 195px;
    height: 65px;
    margin: 20px;
    background-color: #022c56;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.moreevents:hover{
    cursor: pointer;
    border: 3px gold solid;
    text-decoration: underline white;
}

.Students{
    margin-top: 30px;
}
.Students h1{
    text-align: center;
    color: #092992;
    text-decoration: underline #caca20;
    margin: 10px auto 30px auto;
}
.Students-space{
    display: flex;
    justify-content: space-evenly;
    align-items: auto;
    margin-top: 5px;
    padding: 10px;
}
.Students-space div{
    height: fit-content;
    background-color: #03386d;
}
.Students-space div:hover{
    background-color: #074788;
}
.Students-space .guidecert{
    border: solid 2px #000;
    width: 20%;
    transition: 0.2s ease-in-out;
}
.elearning{
    width: 45%;
    border: solid 2px #000;
    transition: 0.2s ease-in-out;
    box-shadow: #000 1px 1px 10px 2px;
}
.elearning img{
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    width: 100%;
    height: 250px;
}
.elearning button{
    height: 60px;
}


.guidecert img{
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    width: 100%;
    height: 200px;
    background-color: #fff;
}
.Students-space p{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}
.guidecert , .elearning{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Students-space a{
    width: 100%;
}
.spacebutton{
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: transparent;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    border-left: none;
    border-right: none;
    font-size: large;
    font-family: Poppins;
    font-weight: bold;
}
.spacebutton:hover{
    cursor: pointer;
    border: solid 2px #f4bb33;
    background-color: #03386d;
}


.clubs-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.clubsectiontitle{
    color: #092992;
    text-decoration: underline #caca20;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 30px 0px 30px 0px;
}




.clubs h1{
    color: #092992;
    text-decoration: underline #caca20;
    margin: 20px auto;
}
.scclubs{
    display: flex;
    justify-content: space-around;
    background-color: #022c56;
    padding: 5px 0 5px 0;
}
.club{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #ccc;
    padding-bottom: 10px;
    transition: 0.2s ease-in-out;
    color: white;
}
.club:hover{
    background-color: #a4a4a4;
    color:#0e365e;
}
.club img{
    border: solid 2px #ccc;
}
.isc{
    width: 99%;
    background-color: #fff;
}
.wameedh{
    width: 99%;
    background-color: #fff;
}
.ieee{
    width: 99%; 
    background-color: #fff;
}
.intellect{
    width: 99%;
    background-color: #fff;
}
.club p{
    font-weight: bolder;
    font-family: poppins;
}
.club span{
    font-weight: 600;
    border-top: solid 4px #efb52e;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
    height: 60%;
    text-align: center;
}
.clubbutton{
    width: 100px;
    background-color: #1a528a;
    color: #fff;
    height: 50px;
    font-weight: bolder;
    font-family: poppins;
    transition: 0.15s linear;
    border: solid 1px #dadada;
}
.clubbutton:hover{
    cursor: pointer;
    border: solid 2px #efb52e;
    background-color: #0c3359;
    font-size: 102%;
}










.swiper{
    position: relative;
    min-height: 550px;
    margin: 0px auto 20px auto;
    background-color: #ebe7e7;

}
.clubcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: auto;
}
.clubcard h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    height: 30px;
    font-family: Poppins !important;
    color: #fff;
}
.imggcontainer{
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}
.iscimgcontainer{
    background-color: #4cb7f5;
}
.wameedhimgcontainer{
    background-color: #f4c14b;
}
.intellectimgcontainer{
    background-color: #f8bbc5;
}
.clubcontainer{
    width: 80%;
    max-width: 600px;
    background-color: #022c56;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 300px;
}
.clubcard p{
    padding: 15px;
    text-align: center;
    margin: 0px;
    color: #fff;
    min-height: 150px;
    font-family: Poppins;
}
.clubcontainer button{
    width: 80%;
    height: 60px;
    max-width: 400px;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #1a528a;
    font-family: Poppins;
    margin: 20px auto;
    border: solid 2px #ccc;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.clubcontainer button:hover{
    color: #ccc;
    background-color: #1f1c7e;
    border: solid 2px #f4bb34;
}

.imggcontainer img{
    width: 160px;
    height: fit-content;
    margin: auto;
}

.swiper-button-prev, .swiper-button-next{
    margin: 15px;
    transition: all 0.2s linear;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    color: #d5d4d2;
}
.swiper-pagination{
    width: fit-content;
}
.swiper-pagination-bullet{
    background-color: #3335cb;
}
.swiper-pagination-bullet-active{
    background-color: #1f1c7e
}

@media screen and (max-width: 700px){
    .swiper{
        height: fit-content;
    }
    
    .swiper-button-prev, .swiper-button-next{
        margin: 0px;
    }
    .swiper-button-prev{
        transform: translateX(-7px);
    }
    .swiper-button-next{
        transform: translateX(7px);
    }
    .clubcontainer{
        height: auto;
    }
    .clubcard p{
        font-size: 15px;
    }

}

.performance{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.performance-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.performance-title h1{
    color: #092992;
    text-decoration: underline #caca20;
    margin: 30px auto;
}
.performance div{
    width: 85%;
    margin: 30px;
}
.percentage{
    font-weight: bolder;
    color:rgb(9, 41, 146);
    outline: #dbd5d5;
    font-size: 70px;
    font-family: Helvetica, sans-serif;
    margin: 10px 30% 55px 30%;
    text-align: center;
}
.percentp{
    font-family: poppins;
    font-weight: bold;
    font-size: 20px;
    margin: auto 20% auto 20%;
    text-align: center;
    color: rgb(9, 41, 146);
}


.footer{
    height: auto;
    border-bottom: solid 2px #f4bb34;
}
.imgcontainer{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: #f4bb33 solid 2px;
}
.ineleclogo{
    margin: 5px;
    height: fit-content;
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    border: solid transparent 1px;
}
.ineleclogo:hover{
    cursor: pointer;
    border: white solid 1px;
}
.adress{
    color: white;
    font-family: poppins;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
    margin: 10px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.social i{
    margin: 5px;
}
.social i:hover{
    cursor: pointer;
}
.fa-square-facebook{
    color: #ccc;
    transition: 0.2s ease-in-out;
    margin: none;
    width: 100%;
    height: 100%;
}
.fa-square-facebook:hover{
    color: rgb(9, 90, 197);
}
.fa-x-twitter{
    color: #ccc;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}
.fa-x-twitter:hover{
    color: #0a0a0a;
}
.fa-youtube{
    color: #ccc;
    transition: 0.2s ease-in-out;
}
.fa-youtube:hover{
    color: #fff;
    color: #f00b0b;
}
.fa-instagram{
    color: #ccc;
    transition: 0.2s ease-in-out;
}
.fa-instagram:hover{
    color: rgb(128, 0, 119);
}

.footoptions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footoptions p{
    text-align: center;
    color: #d6d1d1;
    margin: 15px;
    font-family: sans-serif;
}
.footoptions p:hover{
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline solid #fff;
}
.footoptions a{
    text-decoration: none;
    width: fit-content;
    margin: auto;
}
.infofooter{
    text-align: center;
    color: #e4e2e2;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    font-family: Helvetica;
    font-size: 15x;
}
.credits{
    margin: auto;
    text-align: center;
    color: rgb(218, 218, 225);
    font-size: 16px;
    padding: 30px;
    font-weight: bold;
    font-stretch: semi-expanded;
    font-family: Arial, Helvetica, sans-serif;
}
.rights{
    margin: auto;
    text-align: center;
    color: rgb(201, 201, 213);
    font-size: 13px;
    padding: 30px;
    font-stretch: semi-expanded;
    font-family: Helvetica;
    text-decoration: underline solid 1px #a4a4a4;
}


/* FOR TABLETS */

@media screen and (min-width: 700px) and (max-width: 1000px){
    .searchbar{
        display: none;
    }
    .searchbtn{
        border-color: #f4bb33;
        transform: scale(120%);
    }
    
    .scclubs {
        flex-wrap: wrap;
    }
    .scclubs div{
        width: 35%;
        margin: 10px;
    }

    .tiitle{
        font-size: 17px;
    }
    
    .searchnew{
        display: none;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .top{
        transform: scale(80%);
    }
    .upcomingevents .parentevent{
        width: 65%;
    }
    .percentage{
        font-size: 60px;
    }
    .percentp{
        font-size: 18px;
    }
}


/* FOR MOBILE PHONES */

@media screen and (max-width: 700px) {
    .mainbox{
        justify-content: center;
        align-items: center;
    }
    .mainbox h1{
        text-align: center;
        font-size: 40px;
    }
    .tophead{
        display: none;
    }
    .menu{
        justify-content: center;
        z-index: +7;
        padding: 2px;
    }

    .searchnew{
        display: none;
    }

    .beta{
        width: 70%;
    }

    
    .menu .it{
        padding: 10px 2.5%;
    }
    .studentslist div{
        display: none;
    }
    
    .logo{
        height: 60%;
        top: 45px;
        left: 16px;
    }
    .tiitle{
        left: 120px;
        display: none;
    }
    .search{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .searchbar{
        width: 75%;
    }
    .searchbtn{
        width: 20%;
    }
    .mainnews{
        height: 70dvh;
    }
    .latest{
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    .latest div{
        width: 70%;
        margin: 10px;
        height: 80%;
    }
    .top{
        transform: scale(70%);
        right: 25px;
        bottom: 25px;
    }
    .upcomingevents .parentevent{
        width: 70%;
    }
    .Students{
        border-bottom: #03386d solid 2px;
    }
    .Students-space{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #acaaaa;
        border-top:#03386d solid 2px ;
    }
    .Students-space .guidecert{
        margin: 20px;
        width: 60%;
    }
    .guidecert img{
        height: auto;
    }
    .Students-space .elearning{
        width: auto;
    }
    .spacebutton{
        background-color: #022c56;
    }
    /* .clubs-title{
        margin-top: 5px;
    }
    .scclubs{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }
    .club{
        width: 70vw;
        margin: 10px 0 10px 0;
    }
    .clubbut{
        width: 80%;
        margin: 5px auto;
    }
    .clubbut button{
        width: 100%;
    } */

    .performance{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .percentage{
        font-size: 60px;
        margin: 10px;
    }
    .percentp{
        font-size: 16px;
    }
    .infofooter{
        font-size: 13px;
        color: #ccc;
    }
}


/* FOR SMALL WIDTH  */
@media screen and (max-width: 450px){
    .beta{
        width: 80%;
    }
    .menu .it{
        font-size: 12px;
    }
    .searchbar{
        max-width: 60%;
        font-size: 15px;
    }
    .stdlist{
        top: 105%;
    }
    .stdlist a{
        font-size: 10px;
    }

    .infofooter{
        font-size: 0.8rem;
        width: 80vw;
        color: #ccc;
    }

    .performance{
        width: 65%;
        margin: auto;
    }
}
/* animations */

@keyframes moveRight{
    0% {
        left: -30%;
    }
    100%{
        left: 100%;
    }
}
@keyframes rotation{
    20%{
        rotate: 0deg;
    }
    100%{
        rotate: 40deg;
    }
}
@keyframes appear{
    0%{
        opacity: 0%;
        visibility: hidden;
    }
    100%{
        opacity: 100%;
        visibility: visible;
    }
}
@keyframes disappear {
    0%{
        opacity: 100%;
        visibility: visible;
    }
    100%{
        opacity: 0%;
        visibility: hidden;
    }
    
}
